<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>登陆页</title>
</head>
<body>
<form name="login" method="post">
    <table align="center">
        <tr>
            <td>登陆</td>
        </tr>
        <tr>
            <td>账号：</td>
            <td><input type="test" name="username" size="24"/></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" size="24"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录" size="24"/></td>
        </tr>
    </table>
</form>

</body>
</html>